h5 {
	color: #f07c7c;
	margin: 0;
	padding: 0;
}

h4 {
	color: #df5e88;
	margin: 0.5rem;
	padding: 0;
}

p{
	color: #c3aed6;
	font-size: 19px;
	margin: 0;
	padding: 0;
}
.todo-card {
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	text-align: center;
	padding: 0;
	border-radius: 5px;
	overflow: hidden;
	margin: 1em auto;
	height: 100px;
	width: 400px;
	border-spacing: 3rem;
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.todo-container{
  display: inline-block;
  align-content: center;
  text-align: center;
}
.hidden-stat{
	font-weight: bolder;
	font-size: 1.5rem;
}
.swipeable-list-item__content {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    display: flex;
}