.main-container {
  display: inline-block;
  align-content: center;
  text-align: center;
}

.background {
  display: absolute;
  height: 500px;
  width: 500px;
  bottom: 130px;
  float: left;
}

.number {
  text-align: center;
  align-content: center;
  height: 40px;
  width: 40px;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.text{
  color: tomato;
}

.card {
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 300px;
  width: 400px;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

img {
  height: 200px;
  width: 300px;
}
